{% extends 'plantilla_base.html' %}

{% block content %}
<br>
	<div class="container">
		<div class="row justify-content-center" id="unico">
			<div class="col-6">
				<button onclick="location.href='/hojapersonaje/campanasupdate/{{ campaña.idCam }}'">Modificar</button>
			</div>
			<div class="col-6">
				<button onclick="location.href='/hojapersonaje/campanasdelete/{{ campaña.idCam }}/delete'">Borrar</button>
			</div>
		</div>
	</div>

</br>
</br>

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-6">
				<p>Nombre de la Campaña:<br>- {{ object.nomCam }}</p>
				<p>Descripción de la Campaña:<br>- {{ object.desCam }}</p>
				<p>DM:<br>- {{ object.usuCam }}</p>
				<p>Fecha de creación:<br>- {{ object.finiCam }}</p>
				<p>Fecha estimada de finalización:<br>- {{ object.ffinCam }}</p>
				<p>Estado de la Campaña:<br>- {{ object.estCam }}</p>
			</div>
		</div>
	</div>

{% endblock %}