{% extends 'plantilla_base.html' %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-6">
				<a href="/hojapersonaje/campanasupdate/{{ campaña.idCam }}">Modificar</a>
			</div>
			<div class="col-6">
				<a href="/hojapersonaje/campanasdelete/{{ campaña.idCam }}/delete">Borrar</a>
			</div>
		</div>
	</div>

</br>

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-6">
				<p>Nombre de la Campaña: {{ object.nomCam }}</p>
				<p>Descripción de la Campaña: {{ object.desCam }}</p>
				<p>Fecha de creación: {{ object.finiCam }}</p>
				<p>Fecha estimada de finalización: {{ object.ffinCam }}</p>
				<p>Estado de la Campaña: {{ object.estCam }}</p>
			</div>
		</div>
	</div>

{% endblock %}