{% extends "plantilla_base.html" %}

{% block content %}
</br>
	<div class="container">
		<div class="row justify-content-center" id="unico">
			<div class="col-5">
				<button onclick="location.href='{% url 'campanasadd' %}'">Crear Campaña</button>
			</div>
		</div>
	</div>

</br>
</br>

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-6">
				<ul>
					{% for campaña in object_list %}
						<li><a href="/hojapersonaje/campanasdetail/{{ campaña.pk }}">Nombre: "{{campaña.nomCam}}" - DM: "{{ campaña.usuCam }}"</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}