{% extends "plantilla_base.html" %}

{% block content %}

{% if request.user.id == object.usuCam.user.id %}
<br>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-6">
				<form action="" method="post">{% csrf_token %}
				    <p>¿Estas seguro de que quieres borrar "{{ object.nomCam }}"?</p>
				    <input class="botonadd" type="submit" value="Confirm" />
				</form>
			</div>
		</div>
	</div>

{% else %}
<br>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-6">
				<p>No tienes permisos para esto</p>
			</div>
		</div>
	</div>
{% endif %}

{% endblock %}