{% extends 'plantilla_base.html' %}

{% block content %}
</br>

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-5" id="unico">
				<button onclick="location.href='{% url 'estadisticasadd' %}'">Crear Personaje</button>
			</div>
		</div>
	</div>

</br>

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-6">
				<ul>
					{% for personaje in object_list %}
						{% if request.user.id == personaje.usuPer.user.id %}
							<li><a href="/hojapersonaje/estadisticasdetail/{{ personaje.pk }}">{{personaje.nomPer}}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

{% endblock %}