{% extends "plantilla_base.html" %}

{% block content %}
</br>

	<div class="container">
		<div class="row justify-content-center" id="unico">
			<div class="col-6">
				<button onclick="location.href='/hojapersonaje/participa_update/{{ participa.idPar }}'">Modificar</button>
			</div>
			<div class="col-6">
				<button onclick="location.href='/hojapersonaje/participa_delete/{{ object.idPar }}/delete'">Borrar</button>
			</div>
		</div>
	</div>

</br>

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-6">
				<h2>{{ object.headline }}</h2>
				<p>{{ object.context }}</p>
				<p>Campaña: {{ object.camPar }}</p>
				<p>Usuario: {{ object.usuPar }}</p>
				<p>DM: {{ object.camPar.usuCam.user.username }}</p>
				<p>Personaje: <a href="/hojapersonaje/estadisticasdetail/{{ object.perPar.idPer }}">{{ object.perPar }}</a></p>
			</div>
		</div>
	</div>
	
{% endblock %}