{% extends "plantilla_base.html" %}

{% block content %}

{% if request.user.id == object.camPar.usuCam.user.id %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-6">
				<form action="" method="post">{% csrf_token %}
			    	<p>¿Seguro que quieres borrar la participación en "{{ object.camPar }}" del usuario "{{ object.usuPar }}"?</p>
			    	<input type="submit" value="Confirm" />
				</form>
			</div>
		</div>
	</div>
{% else %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-6">
				<p>No tienes permisos para esto</p>
			</div>
		</div>
	</div>
{% endif %}

{% endblock %}