{% extends "plantilla_base.html" %}

{% block content %}
	<h2>Participantes</h2>

	<p>Participar en una nueva campaña: <button onclick="location.href='{% url 'participa-add' %}'">Nueva Participación</button></p>

	<p>Nombre de campaña - Nombre de Usuario - DM</p>
	<ul>
		{% for participa in object_list %}
			{% if request.user.id == participa.usuPar.user.id or participa.camPar.usuCam.user.id %}
				<li><a href="../participadetail/{{ participa.idPar }}">{{participa.camPar}} - {{participa.usuPar}} - {{participa.camPar.usuCam}}</a></li>
			{% endif %}
		{% endfor %}
	</ul>

{% endblock %}