{% extends "plantilla_base.html" %}

{% block content %}
</br>

	<div class="container">
		<div class="row justify-content-center" id="unico">
			<div class="col-5">
				<p>Participar en una nueva campaña:</p>
				<p><button onclick="location.href='{% url 'participa-add' %}'">Nueva Participación</button></p>
			</div>
		</div>
	</div>

</br>

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-8">
				<p>Nombre de campaña - Nombre de Usuario - DM</p>
				<ul>
					{% for participa in object_list %}
						{% if request.user.id == participa.usuPar.user.id or participa.camPar.usuCam.user.id %}
							<li><a href="../participadetail/{{ participa.idPar }}">Campaña: "{{participa.camPar}}" - Usuario: "{{participa.usuPar}}" - DM: "{{participa.camPar.usuCam}}"</a></li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

{% endblock %}