{% extends 'plantilla_base.html' %}

{% block head_title %} Login {%endblock %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-6">
				<br>
				<h2>Iniciar Sesión</h2>
				<form method="post">
					{% csrf_token %}
					<p>Usuario</p>
					{{ form.username }}<br>
					<br>
					<p>Contraseña</p>
					{{ form.password }}<br>
					<br>
					<button type="submit">Iniciar sesión</button>
					<br>
					<br>
				</form>
				<button onclick="location.href='{% url 'social:begin' 'github' %}'">Login con GithHub</button>
			</div>
		</div>
	</div>
{% endblock %}
