{% extends "plantilla_base.html" %}

{% block head_title %} Home {% endblock %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-6">
				<br>
				<p><h1>Bienvenidos a CheatSheet</h1></p>
			</div>
		</div>
		<div class="row justify-content-start">
			<div class="col-12">
				<p>CheatSheet es una aplicación pensada para aliviar a los jugadores de D&D de la necesidad de mantener su hoja de personaje en formato físico. Preparada para D&D 3.5, la plantilla de personaje ofrecida es lo suficientemente sencilla y flexible como para poder ser usada en sistemas similares</p>
				<p>En esta aplicación podrás crear campañas, establecer los usuarios que participan, y crear y asignar personajes a estas participaciones. Podrás tambíen modificar tus personajes según avance la campaña para asegurarte de que no necesitarás depender del papel, e incluso lanzar un dado virtual para varias características</p>
				<p>Si eres además el DM de la partida, puedes a través de las participaciones ver la hoja de personaje de tus jugadores</p>
				<p>¡Disfruta de tus partidas!</p>
			</div>
		</div>
	</div>
{% endblock %}